BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120   # increase to reduce forced wrapping

# Allow compact one-liners
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true

# Reduce aggressive breaking behavior
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakParameter: 100

# Let clang-format pack things when they fit
BinPackParameters: true
BinPackArguments: true